@font-face { font-family: Haksen; src: url('./fonts/Haksen.ttf'); }
@font-face { font-family: Malberg; src: url('./fonts/Malberg.ttf'); }

/* TODO: change values from pixel to % or something dynamic */

html, body {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#title {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 20px 0;
}

h1 {
  font-family: Haksen;
  font-size: 66px;
  margin: 0;
}

h4 {
  font-family: Malberg;
  font-size: 16px;
  margin: 0;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

button:not(:first-child) {
  margin-left: 98px;
}

#canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  overflow: hidden;
  background-color: gray;
}

#canvas {
  border: 2px solid black;
}

rect {
  cursor: pointer;
  fill: rgb(200, 200, 200);
}

rect:hover {
  fill: rgb(150, 150, 150);
}

.selected {
  fill: rgb(0, 0, 0);
}